.container{
        
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  /* .header{
    width: 30%; 
   margin: 2% 35%;
   
  } */
  h2{
      text-align: center;
  }
  
  .image{
      margin: 10px 28%;
  }
  .main{
      width:29%;
      /* height: 20%; */
      margin: 20px 39%;
  }
  p{
    color: rgba(0,0,0,0.6);  
  }
  .footer{
      width: 29%;
      margin: 20px 39%;
  }
  .border{
      border: 1.5px solid black;
      width: 100%;
  }